services:
  db:
    image: mysql:8.0
    container_name: mysql_hackathon
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: antimadrugones
      MYSQL_DATABASE: hackathon
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

volumes:
  db_data:
