/* style.css */

/* 1. Variables de color y tipografía */
:root {
    --color-bg: #f8fafc;
    --color-primary: #28a745;
    --color-secondary: #ffffff;
    --font-heading: 'Montserrat', sans-serif;
    --font-body: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-body);
    background-color: var(--color-bg);
    color: #333;
    line-height: 1.6;
}

/* 6. Encabezados */
h1, h2, h3, h4, h5 {
    font-family: var(--font-heading);
    margin-bottom: 1rem;
    text-align: center;
}

/* 7. Enlaces generales */
a {
    text-decoration: none;
    color: var(--color-primary);
    transition: color 0.2s;
}

.badge {
    color: #000 !important;
}


